<app-toolbar></app-toolbar>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col s12 m4 l3">
      <app-side></app-side>
    </div>

    <div class="col s12 m8 l9">
      <ul class="collection col s12 m10" *ngIf="notifications.length > 0" >
        <li class="collection-item avatar" *ngFor="let item of notifications">
          <img class="circle" src="http://placehold.it/50x50" alt="">
          <span class="title">{{ item.message }}</span>
          <a class="secondary-content">
            <i class="material-icons">brightness_1</i>
          </a>

          <p class="time">{{ timeFromNow(item.created) }}</p>

          <div>
            <i class="material-icons" (click)="markNotification(data)">check</i>

            <i class="material-icons" (click)="deleteForever(data)">delete_forever</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <h3 class="text" *ngIf="notifications.length <= 0">
        You have no notifications
      </h3>
    </div>
  </div>
</div>
