.material-icons {
  margin-right: 10px;

  color: #64b5f6 !important;
  cursor: pointer;
}

.time {
  font-style: italic;

  margin-bottom: 10px !important;
}

.text {
  font-size: 18px !important;

  text-align: center;
}

.disabled {
  color: #c0c0c0 !important;
}
